{{define "main"}}
<div class="grid-container">
  <div class="grid">
    <div class="page" data-uuid="{{ .File.UniqueID }}" data-level="1">
      <div class="content">
        <h1>{{ .Title }}</h1>
        {{ $content := .Content }}
        {{ $hasH2 := findRE "</h2>" $content }}

{{ if $hasH2 }}
  {{ $content = $content | replaceRE "<h2 id=\"links-to-this-note\"" "</section><div class=\"bl-section\"><h2 class=\"bl-h2\" " }}
{{ end }}
        <section class="section">
         {{ $content | safeHTML }}
        </section>                                                                         
      </div>
    </div>
  </div>
</div>
{{ $urijs := resources.Get "js/URI.js" }}
<script src="{{$urijs.Permalink}}" type="text/javascript"></script>
{{ $pagejs := resources.Get "js/page.js" }}
<script src="{{$pagejs.Permalink}}" type="text/javascript"></script>
{{end}}
